apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.allow-http: "false"
  name: jenkins
  namespace: jenkins
spec:
  rules:
  - host: jenkins.jerryyu.org
      http:
        paths:
        - path: /
          backend:
            serviceName: jenkins
            servicePort: 8080